body {
    background-image: url('images/cosmos.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#wrapper, h1, ::placeholder {
    text-align: center;
}
h1, title, h3, p, #enterName {
    background-color: lightgrey;
}